{% extends 'base.html' %}

{% block title %} Подробнее {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Главная страница</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h1>Подробнее</h1>
    <p>
        Это будет сайт для джунов на Python. Будут полезные ссылки на видео, статьи и различные сайты. Пока в разработке.
    </p>
{% endblock body %}
