<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--    <title>About</title>-->
<!--</head>-->
<!--<body>-->
<!--    <nav class="navbar navbar-expand-md navbar-light bg-light">-->
<!--        <a class="navbar-brand" href="{{ url_for('home') }}">LearningSite</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--    </nav>-->
<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block title %} About site {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">LearningSite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h1>About site</h1>
    <p>
        This will be a site for beginners in the field of programming. There will be useful links to videos, articles and various sites. Still in development
    </p>
{% endblock body %}
